$theme-primary: #48babb;
$theme-secondary: complement($color: $theme-primary);

$paper-white: #fbfbfb;

$section-header-color: lighten($theme-secondary, 40);
$table-header-color: lighten($theme-secondary, 43);

$box-border-color: lighten(gray, 25);
$card-background-color: lighten(gray, 44);
