$primary: #48babb;
$paper-white: #fbfbfb;

$section-header: lighten(
  complement(
    $color: $primary,
  ),
  40
);
$table-header: lighten(
  complement(
    $color: $primary,
  ),
  43
);

$box-border-color: gray;
