@import "colors";

html {
  overflow-y: scroll;
  body, header {
    background-attachment: fixed;
    background-position: 50% 0%;
    // overflow-y:
  }
}

header {
  h1 {
    overflow: unset;
    font-family: "Antonio", sans-serif;
    text-shadow: unset;
    margin-bottom: -6px;

    div {
      display: inline-block;
      font-size: 55%;
    }

    div:not(.wiki-title) {
      margin: 0 -20px;
    }
    div.wiki-title {
      transform: scaleX(0.75);
      font-size: 150%;
      $Xoffset: 4px;
      $Yoffset: 2.75px;
      $spread: 0px;
      $color: rgba(black, 0.75);
      letter-spacing: -0.8px;

      $embiggen: 0.85px;
      $embiggenColor: rgb(243, 243, 243);

      // -webkit-text-stroke:  1.5px $color;
      text-shadow: (-$embiggen) (-$embiggen) $spread $embiggenColor, ($embiggen) (-$embiggen) $spread $embiggenColor,
        ($embiggen) ($embiggen) $spread $embiggenColor, (-$embiggen) ($embiggen) $spread $embiggenColor,
        0 (-$embiggen) $spread $embiggenColor, 0 ($embiggen) $spread $embiggenColor,
        (-$Xoffset) (-$Yoffset) $spread $color, ($Xoffset) (-$Yoffset) $spread $color,
        ($Xoffset) ($Yoffset) $spread $color, (-$Xoffset) ($Yoffset) $spread $color, 0 (-$Yoffset) $spread $color,
        0 ($Yoffset) $spread $color;
    }
  }
  p {
    font-weight: bold;
  }
}

#banner {
  .button-container {
    // outline: 1px solid red;
    padding-right: 5px;
    .button {
      &.github-edit {
        float: right;
        img {
          float: right;
          height: 18px;
          margin: -3px 0;
          margin-left: 9px;
        }
      }
    }
  }
}

nav {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 220px - 110px);
  // outline: 2px dashed red;
  padding-right: 14px;
  width: 200px;
  
  right: 0;

  ul {
    text-align: right;
    width: 100%;
    padding-left: 0;

    li {
      margin-right: -12px;
      margin-bottom: 3px;
      border-right: 6px solid rgba($primary, 0.25);
      padding-right: 6px;

      &.tag-h1 a {
        font-size: 130%;
      }

      &.tag-h2 a {
        font-size: 130%;
        // font-weight: 600;
      }

      &.tag-h3 a {
        font-size: 95%;
      }

      &:hover {
        background-color: rgba($primary, 0.25);
      }

      &.active {
        border-color: rgba($primary, 0.75);
      }

      a {
        display: block;
      }
    }
  }
}

table {
  &.row-highlight {
    :not(thead) tr:hover {
      background-color: rgba($primary, 0.1);
    }
  }
  &.episode-list {
    th,
    td {
      vertical-align: baseline;
    }
    th {
      white-space: nowrap;
    }
  }
  &.grouped-by {
    th:last-child {
      width: 100px;
    }
    th {
      white-space: nowrap;
    }
  }
  overflow: auto;
  &.episode-breakdown,
  &.episode-progress,
  &.episode-list {
    thead {
      tr {
        background-color: $table-header;
        th {
          outline: 1px solid $paper-white;
        }
      }
    }
  }
}

.wiki-link {
  font-weight: bold;
}

.field {
  font-family: monospace;
  background: rgba(lightgray, 0.75);
  border: 1px solid rgba(gray, 0.5);
  padding: 0 6px;
  border-radius: 4px;
  box-shadow: inset 2px black;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.125) inset;
}
