@import "colors";

.banner-box {
  border: 3px double $box-border-color;
  margin: 24px 12px;
  padding: 6px;
  display: flex;

  .material-icons {
    flex: 0;
    vertical-align: middle;
    font-size: 300%;
    margin: 0 9px;
  }

  .message {
    flex: 1;
  }
}

.hidden {
  display: none;
}

.episode-navigation {
  margin: 0 -8px;
  margin-top: -6px;
  margin-bottom: 16px;
  width: calc(100% + 16px);
  display: flex;

  a {
    display: block;
    font-size: 150%;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
    &:hover {
      background-color: rgba($theme-primary, 0.1);
    }
  }

  div {
    flex: 1;

    &#next {
      text-align: right;
    }
  }
}

.info-box {
  $width: 267px;
  background-color: $paper-white;
  float: right;
  margin-left: 12px;
  // margin-right: ($width / -1.25);
  max-width: $width;
  border: 1px solid $box-border-color;
  padding: 6px;

  .episode-image {
    text-align: center;
    img {
      max-width: 80%;
    }
  }

  th {
    text-align: right;
    width: 80px;
    vertical-align: baseline;
  }

  table {
    margin: 0;
  }

  th,
  td {
    padding: 0;
    border: unset;
  }

  tr.section-header,
  tr.box-header {
    th {
      padding: 0;
    }
    div {
      margin-top: 6px;
      text-align: center;
      background-color: $section-header-color;
    }
    .material-icons {
      font-size: 14px;
      vertical-align: middle;
      margin-bottom: 3px;
    }
  }

  tr.box-header {
    font-size: 105%;
    div {
      margin: unset;
      margin-bottom: 6px;
    }
  }

  th,
  th + td {
    padding: 0 12px;
  }

  ul.guest-list {
    padding: 0;
    margin: 0;
    list-style-image: unset;
    list-style-type: square;

    & > li:only-child {
      list-style-type: none;
    }
  }
}

.gallery-section {
  clear: both;
}
.episode-gallery {
  overflow-x: scroll;
  white-space: nowrap;
  
  div {
    display: inline-block;

    img {
      max-height: 180px;
      padding: 16px;
      margin: 0 6px;
      border: 1px solid  $box-border-color;
      background-color: $card-background-color;
    }
  }
}
