---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/////////////////
// Default Layout
/////////////////

$primary: #48babb;
$paper-white: #fbfbfb;

$section-header: lighten(
  complement(
    $color: $primary,
  ),
  40
);

header {
  h1 {
    overflow: unset;
    font-family: "Antonio", sans-serif;
    text-shadow: unset;
    margin-bottom: -6px;

    div {
      display: inline-block;
      font-size: 55%;
    }
    
    div:not(.wiki-title) {
      margin: 0 -40px;
    }
    div.wiki-title {
      transform: scaleX(0.75);
      font-size: 150%;
      $Xoffset: 4px;
      $Yoffset: 2.75px;
      $spread: 0px;
      $color: rgba(black, 0.75);
      letter-spacing: -0.8px;

      $embiggen: 0.85px;
      $embiggenColor: rgb(243, 243, 243);

      // -webkit-text-stroke:  1.5px $color;
      text-shadow: (-$embiggen) (-$embiggen) $spread $embiggenColor, ($embiggen) (-$embiggen) $spread $embiggenColor,
        ($embiggen) ($embiggen) $spread $embiggenColor, (-$embiggen) ($embiggen) $spread $embiggenColor,
        0 (-$embiggen) $spread $embiggenColor, 0 ($embiggen) $spread $embiggenColor,
        (-$Xoffset) (-$Yoffset) $spread $color, ($Xoffset) (-$Yoffset) $spread $color,
        ($Xoffset) ($Yoffset) $spread $color, (-$Xoffset) ($Yoffset) $spread $color, 0 (-$Yoffset) $spread $color,
        0 ($Yoffset) $spread $color;
    }
  }
  p {
    font-weight: bold;
  }
}

nav {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 220px - 110px);
  padding-right: 18px;

  .tag-h1.tag-h1 {
    font-size: 150%;
    margin-top: 12px;
    margin-right: -12px;
    border-right: 6px solid rgba($primary, 0.25);
    padding-right: 6px;

    &:hover {
      background-color: rgba($primary, 0.25);
    }

    &.active {
      border-right: 6px solid rgba($primary, 0.75);
    }

    a {
      display: block;
    }
  }
  // .tag-h2 {
  //   margin-top: 6px;
  //   font-size: 125%;
  //   a {
  //     font-weight: bold;
  //   }
  // }
}

/////////////////
// Episode Layout
/////////////////

.info-box {
  $width: 267px;
  background-color: $paper-white;
  float: right;
  // margin-top: -2em;
  margin-left: 12px;
  margin-right: ($width / -1.25);
  max-width: $width;
  border: 1px solid gray;
  padding: 6px;

  .episode-image {
    text-align: center;
    img {
      max-width: 80%;
    }
  }

  th {
    text-align: right;
    vertical-align: baseline;
  }

  table {
    margin: 0;
  }

  th,
  td {
    padding: 0;
    border: unset;
    width: 50%;
  }

  tr.section-header,
  tr.box-header {
    th {
      padding: 0;
    }
    div {
      margin-top: 6px;
      text-align: center;
      background-color: $section-header;
    }
    .material-icons {
      font-size: 14px;
      vertical-align: middle;
      margin-bottom: 3px;
    }
  }

  tr.box-header {
    font-size: 105%;
    div {
      margin: unset;
      margin-bottom: 6px;
    }
  }

  th,
  th + td {
    padding: 0 12px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-image: unset;
    list-style-type: square;
  }
}

@media print, screen and (max-width: 1060px) {
  section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .info-box {
    margin: unset;
  }
}
